.flexbox {
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
}

.flex {
  flex:1;
  display:flex;
}

.markdown-editor{
  width:100%;
  display:block;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@media screen and (min-width: 1024px) {
  .editor-preview-side, .CodeMirror-sided, .CodeMirror-fullscreen {
    top: 0;
  }
  .editor-toolbar.fullscreen {
    position: fixed;
    top: -50px;
    left: 120px;
    width: auto;
  }
}

// WARNING : statusbar is false in simpleMDE config
// .editor-statusbar {
//   z-index: 9999;
//   position: fixed;
//   text-align: right;
//   right: 0;
//   top: 0;
// }

.CodeMirror {
  font-family: 'Ubuntu Mono';
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    text-align:center;
  }
}