// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simplemde";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.logo {
  visibility: hidden;
}
.logo-text {
  font-family: Oswald;
  font-weight:900;
  font-size: 20px;
  color: #7C7C7C;
  top: -6px;
  position: relative;
}