// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simplemde";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";


.logo {
  visibility: hidden;
  margin-top: 9px;
}
.logo-text {
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-size: 24px;
  color: #7C7C7C;
  top: -7px;
  position: relative;
}


.flexbox{
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
}

.flex{
  flex:1;
  display:flex;
}

.markdown-editor{
  width:100%;
  display:block;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@media screen and (min-width: 1024px) {
  .editor-preview-side, .CodeMirror-sided {
    top: 0;
  }
  .editor-toolbar.fullscreen {
    position: fixed;
    top: -50px;
    left: 120px;
    width: auto;
  }
}